<header class="site-header">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KJH7CRR01Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KJH7CRR01Z');
</script>
    <div class="container header-inner">
        <div class="site-logo">
            <a href="/index.html">きのとリサーチ　KINOTO RESEARCH</a>
        </div>
        <nav class="site-nav">
            <a href="/about/">プロフィール</a>
            <a href="/contact/">お問い合わせ</a>
            <a href="/privacy/">プライバシーポリシー</a>
        </nav>
    </div>
</header>
